<div class="divmere">

  <div class="content">
    <div class="firstPart">
      <div class="firstRow1">
        <div class="titreDescription">
          <p>home titre! 1.1</p>

        </div>
        <div class="image">
          <img height="auto" src="assets/images/mli1.jpeg" alt="mli"/>

        </div>
      </div>

      <div class="secaindRow1">
        <div class="part1">
          <p>home titre! 1.1</p>

        </div>
        <div class="part2">
          <p>home desc! 1.1</p>

        </div>

      </div>

    </div>

    <div class="secaindPart">
      <p>home works! hello</p>

    </div>
  </div>

</div>
