.divmere{
  //margin: 0;
  height: 100%;
  margin: 3% 10% 0 10%;
  //width: 100%;
  margin-bottom: 0;
}

.content{
  height: 100%;
  margin-bottom: 2%;

  // margin: 3%;
  display: grid;
  grid-template-columns: 67% 31% ;
  column-gap: 2%;
  border-radius: 15px;
  background-color: white;
}

// premiere partie .........................................................................................
.firstPart{
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 2%;
}

// ///////.1.1 premiere ligne
.firstRow1{
  display: grid;
  grid-template-columns: 48% 50% ;
  column-gap: 2%;
}
.titreDescription{
  display: grid;
  grid-template-rows: 40% 55%;
  row-gap: 5%;
}

.titre{
  display: flex;
  justify-content: center;
  align-items: center;
}
#mali{
  font-size: 50px;
  margin: auto;
  font-weight: bold;
}

#description{
  display: flex;
  justify-content: center;
  padding: 2%;
  border: 3px solid #FCD211;
}
.image{
  border-radius: 15px;
}

.image > img{
  height: 100%;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

// ///////.1.2 deuxieme ligne
.secaindRow1{
  display: grid;
  grid-template-columns: 40% 58% ;
  column-gap: 2%;
}

.part1{
  padding: 2%;
  border-radius: 5px;
  border: 2px solid lightgray;

}

.part2{
  background-color:rgb(51, 107, 153) ;
  padding: 5%;

}
// seconde partie .........................................................................................
.secaindPart{
  // background-color: #D00822;
  border-radius: 5px;
  padding: 4%;
  border: 2px solid #D00822;
}
