.container{
  display: grid;
  grid-template-columns: 20% 75%;
  column-gap: 5%;
}

.left{

  background-color: rgb(33, 65, 94);
}

.rigth{
 // background-color: #FCD211;
  display: flex;
  align-items: center;
  border-radius: 5px solid #FCD211;;

}

