<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>Mali Tourist</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="assets/images/admin.png"
    />

    <h4 class="name">{{admin.nom}} {{admin.prenom}}</h4>
    <!--<p class="designation">Software Engineer</p>-->

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/dashboard/home">
      <mat-icon>home</mat-icon>
      <span>Acceuil</span>
    </button>
    <button mat-button class="menu-button" routerLink="/dashboard/regions">
      <mat-icon>location_searching</mat-icon>
      <span>Regions</span>
    </button>
    <button mat-button class="menu-button" routerLink="/dashboard/admins">
      <mat-icon>supervisor_account</mat-icon>
      <span>Admin</span>
    </button>

    <mat-divider></mat-divider>

    <!--<button mat-button class="menu-button" routerLink="/dashboard//help">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>-->


    <button mat-button class="menu-button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Deconnexion</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
