.all{
  display: flex;
  margin-top: 15%;
  align-items: center;
}

.tof > img{
  width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;

}
.content{
  border: 2px solid;
  border-color: #0AB736;
  border-radius: 10px;
  margin: auto;
  width: 700px;
  height: 400px;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 50%;

}
.formulaire{
  margin: 2%;
  margin-top: 15%;
}

.formulaire label{
  color: black;
  font-weight: 100;
  display: flex;
  justify-content: center;
  text-align: center;
}
form{
  padding: 20px;
  border-radius: 15px;
  color: white;
  margin: auto;
}

.btn-success{width: 100%;}


@media screen and (max-width: 610px) {

  .content{
    margin: auto;
    margin-top: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
  }
}
