.container{
  display: grid;
    grid-template-columns:80% 37% ;
    column-gap: 5%;
    height: 100%;
    width: 100%;
    margin: 0;
    margin-right: 0;
}

.left{

  background-color: rgb(33, 65, 94);
}

.rigth{
  // background-color: #FCD211;
  display: flex;
  align-items: center;
  border: 5px solid #FCD211;
  border-radius: 10px;

}
